<%- include('../partials/header'); %>

    <main class="main container">
        <h1>I'm a Professional</h1>
        <img src="/media/Medical+Professionals.jpg">
    </main>

<%- include('../partials/footer'); %>